<h1> Edit page for: <%= @student.name %> </h1>

<%= form_for @student do |f| %>
    <%=f.label :name %>
    <%=f.text_field :name %> <br><br>

    <%=f.label :age %>
    <%=f.number_field :age %> <br><br>

    <%= f.submit %>
<% end %>
