<h1> New Student at Riverdale</h1>

<%= form_for @student do |f| %>
    <% if @student.errors.any? %>
    <h2>There were some errors:</h2>
        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    <% end %>
    <%=f.label :name %>
    <%=f.text_field :name %> <br><br>

    <%=f.label :age %>
    <%=f.number_field :age %> <br><br>

    <%=f.label :has_shirt_on %>
    <%=f.check_box :Has_Shirt_On %> <br><br>

    <%= f.submit %>
<% end %>

<h5> <%= link_to "Back to Riverdale High", students_path %> </h5>
