<h1> Unsolved mystery: <%=@mystery.name%> </h1>


Who is involved?
<br>
<% @mystery.students.each do |student| %>
    <%= link_to student.name, student_path(student) %>
<% end %>
<br>
<br>
What is the mystery!??!?!
<br>
<br>
WHY?!?
We don't know
<br><br>

<%= button_to "Delete #{@mystery.name}", @mystery, method: :delete, data: {confirm: "Honestly it's for the best"} %>

<br><br>
<h4><%= link_to "Back to Unsolved Mysteries", mysteries_path %></h4>
<h5> <%= link_to "Back to Riverdale High", students_path %> </h5>

